:root {
  background-color: #ebe7e7;
}

.circle-button{
  color: var(--custom-light);
  background-color: var(--custom-primary);
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 50%;
  transition: all 0.2s;

  height:1em;
  width:1em;
}

.circle-button:hover{
  animation: circle-anim 0.3s ease forwards;
  transition: all 0.4s ease;
  color: white;
  background-color: var(--custom-primary-light);
  cursor: pointer;
}

#item_OptionBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: upper;  */
  gap: 0.5em;
}

#item_tile {
  height: 150px;
  width: 300px;
  background-color: var(--custom-secondary-light);
  border-radius: 20px;
  border: 3px solid var(--custom-dark);
  font-size: medium;
  line-height: 15px;
  color: var(--custom-primary);

  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 15px;
}

#item_info {
  margin-right: 10px;
  text-align: left;
}

#item_info p {
  font-size: small;
}

#item_img {
  height: 50px;
  width: 50px;
  z-index: -5;
}

#item_tile:hover {
  animation: focus 0.2s ease-in;
  animation-fill-mode: both;
  color: var(--custom-primary-light);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.2);
  cursor:pointer;
}

#item_tile:hover h3 {
  color: var(--custom-primary-light);
}

#item_tile:hover #item_img {
  height: 55px;
  width: 55px;
  animation: img_lift 0.2s ease-in;
  animation-fill-mode: both;
  z-index: -5;
}

#item_OptionBox {
  background-color: var(--custom-light);
  border: 2px solid var(--custom-dark);
  padding: 10px 10px 10px 10px;
  margin: 0px 30px;
  bottom: 0px;
  box-sizing: border-box;
  left: 0;
  right: 0;

  text-align: left;
}

#server_side {
  display: flex;
  flex-wrap: wrap;
}

#cat_display {
  display: flex;
  min-width: 50%;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: upper;  */
  gap: 0.5em;
}

@media (max-width: 800px) {
  #cat_display {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center; 
    gap: 0.5em;
    margin: 5% 5% 5% 5%;
  }
}

.RHS {
  flex: 60%;
  justify-content: center;
}

.curOrder_box {
  background-color: var(--custom-light);
  border: 2px solid var(--custom-dark);
  padding: 10px 10px 10px 10px;
  margin: 0px 30px;
  bottom: 0px;
  box-sizing: border-box;
  left: 0;
  right: 0;

  text-align: left;
}

#category_tile {
  height: 100px;
  width: 100px;
  background-color: var(--custom-secondary-light);
  border-radius: 20px;
  border: 3px solid var(--custom-dark);
  font-size: medium;
  line-height: 10px;
  color: var(--custom-primary);
}

#cat_img {
  height: 50px;
  width: 50px;
  transform: translate(0px, -10px);
  z-index: -5;
}

#category_tile:hover {
  animation: focus 0.2s ease-in;
  animation-fill-mode: both;
  border-radius: 22px;
  color: var(--custom-primary-light);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.2);
  cursor: pointer;
}

#category_tile:hover h3 {
  color: var(--custom-primary-light);
}

#category_tile:hover #cat_img {
  height: 55px;
  width: 55px;
  animation: img_lift 0.2s ease-in;
  animation-fill-mode: both;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0);
  z-index: -5;
}

@keyframes img_lift {
  0%    {   
          transform: translate(0px,  -10px); 
          height: 50px;
          width: 50px;
        }
  100%  { 
          transform: translate(0px,  -15px); 
          height: 55px;
          width: 55px;
        }
}

@keyframes focus {
  0%    {   
          transform: translate(0px,  1px); 
        }
  100%  { 
          transform: translate(0px,  -5px); 
        }
}

@keyframes focus-side {
  0%    {   
          transform: translate(0px,  0px); 
        }
  100%  { 
          transform: translate(5px,  0px); 
        }
}

.progress_bar {
  color: white;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.order_bar {
  display:block;
  /* flex-wrap: wrap;
  flex-direction: column; */
  min-height: 550px;
  min-width: 30%;
  max-width: 30%;
  background-color: var(--custom-light);
  text-align: center;
  /* justify-content: center; */
  /* align-content: center; */
  padding-left: 2%;
  padding-right: 2%;
}

#order_tile {
  display:flex;
  flex-wrap: wrap;
  flex-direction:row;
  padding: 0px 5px 0px;
  justify-content: center;
  align-content: center;
  gap: 10px;
  padding-bottom: 5px;

  background-color: #ebe7e7;
  border-color: -var(--custom-dark);
  border: 1px solid;
  line-height: 10px;
}

#order_tile:hover {
  animation: focus-side 0.3s ease-out;
  animation-fill-mode: both;
  font-size:large;
  font-weight: 600;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,.2);
  cursor: zoom-in;
}


.nav-home {
  position: absolute;
  left: 10px;
  top: 20px;
}

.link-home {
  font-size: 25px;
  letter-spacing: 3px;
}
