* {
    outline:none;
    text-decoration:none;
    border:none;
  }
  
  :root {
    --custom-primary: #4c0000; /* aggie maroon  */
    --custom-light: #ce9f9f;
    --custom-secondary: #f8cf00;
    --custom-teritiary: #422437;
    --custom-dark: #403636;
    --speed: 0.5s;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(243, 243, 243);
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }